.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
    margin: 2rem;
    box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
}

.about h2 {
    color: #fa52e1;    
}

.about span {
    font-style: italic;
}

.about img {
    border-radius: 50%;
    height: 400px;
    border: 10px solid #ffb8ff;
}