.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #ffd5ff;
    padding: 2rem 4rem;
    color: #fa52e1;
    font-weight: bold;
    border: 1px solid #ff00d9;
}

.footer p {
    color: #000;
}

.footer svg {
    border-radius: 50%;
    padding: .5rem;
    background: #cdffff;
    border: 1px solid #ff00d9;
}

.whatsapp {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.whatsapp svg {
    color: green;
    font-size: 2rem;
}

.telefone {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.telefone svg {
    color: yellow;
    font-size: 2rem;
}

.endereco {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.endereco svg {
    color: red;
    font-size: 2rem;
}

.email {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.email svg {
    color: turquoise;
    font-size: 2rem;
}