#sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #ffd5ff;
    color: #fa52e1;
    padding: 1rem;
    border: 1px solid #ff00d9;
}

.title svg {
    color: #fa52e1;
    font-size: 2rem;
}

.title h2 {
    background: linear-gradient(90deg, #fa52e1 0%, #ff00d9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-style: italic;
}

.menu {
    display: flex;
    gap: 1rem;
    font-weight: bold;
}

.menu h3:hover {
    color: #ff00d9;
    cursor: pointer;
    font-weight: bold;
    transition: 1s;
}